@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {list-style: none;}
a {text-decoration: none; color: #fff;}
.claer {
    content: '';
    clear: both;
}
@font-face {
    font-family: 'july';
    src: url(../fonts/regular.otf);
}
@font-face {
    font-family: 'optimus';
    src: url(../fonts/OptimusPrinceps.ttf);
}
@font-face {
    font-family: 'fin';
    src: url(../fonts/FinSerifDisplay-Italic.ttf);
}
body {
    background-color: #000;
}
/* header */
.container {
    width: 100%;
    height: 100%;
    /* background-color: #000; */
}
.container header {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 9;
}
.container header .inner {
    width: 100%;
    height: 50px;
    display: flex;
    border: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
}
.container header .inner ul {
    display: flex;
    color: white;
    gap: 50px;
    font-family: 'fin';
    margin-right: 50px;
}
.container header .inner .logo {
    margin-left: 150px;
}
.container header .inner .goa {
    margin-right: 100px;
}


/* main */
main > * {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.main1 {top: 0;left: 0;z-index: 6;}
.main2 {top: 0;left: 0;z-index: 5;}
.main3 {top: 0;left: 0;z-index: 4;}
.main4 {top: 0;left: 0;z-index: 3;}
.main5 {top: 0;left: 0;z-index: 2;}
footer{background-color: black; width: 100%; top: 0;left: 0;z-index: 2;position: fixed;}

/* main1 */
.container main .main1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container main .main1 .inner {
    position: relative;
}
.container main .main1 .inner .img-box {
    width: 50%;
    /* height: 966px; */
    margin: 0 auto;
    position: relative;
    padding-top: 51.5%;
}
.container main .main1 .inner img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
.container main .main1 .inner p {
    font-size: 14.5rem;
    color: white;
    font-family: 'july';
}
.container main .main1 .inner .text1  {
    position: absolute;
    top: 7%;left: 150px;
}
.container main .main1 .inner .text2 {
    position: absolute;
    /* top: 437px;left: 641px; */
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
} 
.container main .main1 .inner .text3 {
    position: absolute;
    top: 65%;right: 150px;
} 

/* main2 */
.container main .main2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container main .main2 .inner {
    position: relative;
    height: 100%;
}
.container main .main2 P {
    font-size: 6.9rem;
    color: white;
}

.container main .main2 .inner .gold-gucci .img {
    background: url('../images/화앙금구찌1\ 1.png')no-repeat center / cover;
    object-fit: cover;
    position: absolute;
    width: 48%;
    padding-top: 33%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%)
}
.container main .main2 .text1 {
    transform: rotate(15deg) ;
    white-space: nowrap;
    opacity: .7;
    position: absolute;
    top: 29%;left: -38%;
    font-family: 'optimus';
    animation: text1 20s infinite linear ;
    animation-duration: normal;
    animation-fill-mode: forwards;
}
.container main .main2 .text2 {
    transform: rotate(15deg);
    white-space: nowrap;
    opacity: .7;
    position: absolute;
    top: 12%;left: -157%;
    font-family: 'optimus';
    animation: text2 34s linear infinite;
    animation-fill-mode: forwards;
}
.container main .main2 .text3 {
    transform: rotate(15deg);
    white-space: nowrap;
    opacity: .7;
    position: absolute;
    top: 76%;left: -75%;
    font-family: 'optimus';
    animation: text3 35s linear infinite forwards;
}
.container main .main2 .text4 {
    transform: rotate(15deg);
    white-space: nowrap;
    opacity: .7;
    position: absolute;
    top: 58%;left: -116%;
    font-family: 'optimus';
    animation: text4 23s infinite linear forwards;
}
@keyframes text1 {
    from {transform: rotate(15deg) translateX(0)}
    to {transform: rotate(15deg) translateX(-1640px)}
}
@keyframes text2 {
    from {transform: rotate(15deg) translateX(0)}
    to {transform: rotate(15deg) translateX(2057px)}
}
@keyframes text3 {
    from {transform: rotate(15deg) translateX(0)}
    to {transform: rotate(15deg) translateX(-1925px)}
}
@keyframes text4 {
    from {transform: rotate(15deg) translateX(0)}
    to {transform: rotate(15deg) translateX(1430px)}
}

/* 반응형 글씨도 작아지게 하는 법 */
@media screen and (max-width: 1200px) {
    html { font-size: 10px;}
}

/* main 3 */
.container main .main3 .inner {
    position: relative;
    height: 100vh;
}
.container main .main3 .inner .inner-box {
    /* width: 100%; */
    /* height: 200vh; */
    background-attachment: fixed;
    overflow: hidden;
}
.container main .main3 .inner p {
    color: #fff;
    font-size: 3.1rem;
    position: absolute;
    top: 50%;left: 20%;
    transform: translate(-50%,-20%);
}
.container main .main3 .inner .bg1 {
    width: 100%;
    /* height: 100%; */
    width: 29%;
    padding-top: 43%;
    position: relative;
    position: absolute;
    top: 50%;left: 60%;
    transform: translate(-50%,-50%);
}
.container main .main3 .inner .bg1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
.container main .main3 .inner .inner-box1 {
    background-attachment: fixed;
}
.container main .main3 .inner-box1 {
    height: 100vh;
    width: 100%;
    position: relative;
    position: absolute;
    top: 0;left: 0;
}
.container main .main3 .inner-box1 .bg2 {
    width: 29%;
    position: absolute;
    top: 14%;left: 40%;
}
.container main .main3 .inner-box1 .bg2 img {
    width: 100%;
    height: 100%;
    transform:rotate(-8deg)
}
.container main .main3 .inner-box1 .bg3 {
    width: 29%;
    position: absolute;
    top: 16%;left: 60%;
}
.container main .main3 .inner-box1 .bg3 img {
    width: 100%;
    height: 100%;
}
.container main .main3 .inner-box1 .bg4 {
    width: 29%;
    position: absolute;
    top: 16%;left: 60%;
}
.container main .main3 .inner-box1 .bg4 img {
    width: 100%;
    height: 100%;
    transform:rotate(-8deg) scale(1.3);
}

/* main4 */
.container .main4 .inner {
    overflow: hidden;
    /* display: flex; */
    width: 200%;
    height: 100vh;
    position: relative;
}
.container .main4 .inner .inner1 {
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
.container .main4 .inner > p {
    color: #fff;
    font-size: 6.25rem;
    font-family: 'optimus';
    margin-left: 150px;
    margin-top: 100px;
    white-space: nowrap;
    margin-bottom: 80px;
}
.container .main4 .inner .inner1 {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 50px 150px;
}
.container .main4 .inner .inner1 p {
    color: #fff;
    font-size: 25rem;
    font-family: 'optimus';
}
.container .main4 .inner .inner1 .img1 {
    width: 13.5%;
    padding-top: 13.5%;
    position: relative;
}
.container .main4 .inner .inner1 .img1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
.container .main4 .inner .main4-text {
    margin: 0;
    margin: 0 0 0 150px;
    animation: main-text linear forwards infinite 100s;
    position: absolute;
    top: 84%;left: -200.8%;
    opacity: .7;
}
@keyframes main-text {
    from {transform: translateX(0);}
    to {transform: translateX(-7394px);}
}

/* main5 */
.container .main5 .inner {
    position: relative;
}
.container .main5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container .main5 .inner1 {
    width: 100%;
    height: 100%;
}
.container .main5 .inner1 .main5-img-box1 {
     width: 51%;
     padding-top: 51%;
     position: relative;
}
.container .main5 .inner1 .main5-img-box1 .img-box {
    background: url('../images/구찌모델5.jpg')no-repeat center / cover;
    background-position:center top;
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .main5 .inner2 {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;right: 0;
}
.container .main5 .inner2 > p {
    font-family: 'optimus';
    color: #fff;
    font-size: 6.25rem;
    display: inline-block;
    position: absolute;
    top: 11%;left: 12%;
    width: 100%;
    height: 100%;
}
.container .main5 .inner2 .main5-img-box2 {
    position: relative;
    width: 50%;
    padding-top: 50%;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.container .main5 .inner2 .main5-img-box2 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}
.container .main5 .inner3 {
    display: flex;
}
.container .main5 .inner3 .img1 {
    position: relative;
    width: 15%;
    padding-top: 15%;
    position: absolute;
    top: 80%;left: 25%;
}
.container .main5 .inner3 .img2 {
    position: relative;
    width: 15%;
    padding-top: 15%;
    position: absolute;
    top: 80%;left: 42.5%;
}
.container .main5 .inner3 .img3 {
    position: relative;
    width: 15%;
    padding-top: 15%;
    position: absolute;
    top: 80%;left: 60%;
}
.container .main5 .inner3 .main5-img-box3 img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
}

/* foooter */
.container footer .container {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.container footer .container .inner1 > p {
    color: #C4B14A;
    font-family: 'optimus';
    font-size: 13.31rem;
    text-align: center;
    position: absolute;
    top: 6%;left: 50%;
    transform: translateX(-50%);
}
.container footer .container .inner1 .footer-img1 {
    width: 14%;
    padding: 4%;
    position: relative;
    position: absolute;
    top: 34%;left: 50%;
    transform: translateX(-50%);
}
.container footer .container .inner1 .footer-img1 img {
    position: absolute;
    top: 0%;left: 0%;
    width: 100%;
    height: 100%;
}
.container footer .container .inner1 .footer-img2 {
    width: 28%;
    padding: 11%;
    position: relative;
    position: absolute;
    top: 3%;left: 60%;
    transform: translateX(-50%);
}
.container footer .container .inner1 .footer-img2 img {
    position: absolute;
    top: 0;left: 0;
    width: 30%;
    height: 100%;
}
.container footer .container .inner1 .color-box {
    width: 100%;
    position: absolute;
    top: 56%;
}
.container footer .container .inner1 .color-box .green {
    width: 100%;
    height: 7.5vh;
    background-color: #335644;
}
.container footer .container .inner1 .color-box .red {
    width: 100%;
    height: 10.4vh;
    background-color: #C72030;
}
.container footer .container .inner2 {
    margin-left: 150px;
    position: absolute;
    top: 83%;
}
.container footer .container .inner2 p {
    color: #e7e7e7;
    font-size: .9rem;
}
.container footer .container .inner2 .copy {
    margin-top: 10px;
    color: #838181;
}